:root {
    --primary: #14375f;
    --primary-light: #6c8299;
    --white: #ffffff;
    --secondary-light: #e24943;
    --secondary: #df322b;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    background-color: var(--white);
    display: flex;
    padding: 5px 10px;
    margin-top: 650px;    
}

.pageNumber, .prev, .next{
    list-style: none;
    line-height: 50px;
    margin: 0 5px
}

.pageNumber {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.prev, .pageNumberLink, .next {
    display: block;
    text-decoration: none;
    color: var(--primary-light);
    font-weight: 600;
    border-radius: 5%;
}

.prev:hover,
.next:hover {
    color: var(--primary)
}

.pageNumber:hover .pageNumberLink,
.pageNumber.active .pageNumberLink {
    background-color: var(--primary);
    color: var(--white);
}

#prev {
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px
}

#next {
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px
}