:root {
    --primary: #14375f;
    --primary-light: #6c8299;
    --secondary: #df322b;
    --secondary-light: #e24943;
}

/* Color */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.btn-danger {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.text-danger {
    color: var(--secondary);
}


.big-fucking-text {
    color: var(--secondary);
    font-size: 100px;
    text-align: center;
}

/* Login, register */
.login-form {
    max-width: 75%;
    margin: 0 auto;
}

.login-bg {
    background-image: url("../img/login_bg.jpg");
    background-size: cover;
}

.login-form-link {
    max-width: 50%;
    padding: 10px;
    margin: 0 auto;
    color: var(--primary);
    background-color: var(--secondary-light);
}

.class-cover {
    max-height: 25vh;
}

.card {
    text-align: center;
    max-width: 75%;
    margin: 10px auto;
    border: 2px solid var(--primary-light);
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 10px;
}

.hw-file {
    margin-bottom: 5px;
}

.class-nav-item {
    float: right;
    text-align: right;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.class-nav-item:hover {
    color: var(--secondary-light);
    cursor: pointer;
}


/* Navbar */
.navbar {
    background-color: var(--primary) !important;
}

.colorNav {
    color: #ffffff !important
}


.navbar-brand {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
}

body nav div a:hover {
    color: var(--secondary-light) !important;
}

body nav div a:active {
    color: var(--secondary-light) !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: var(--primary);
    color: #000000;
    text-align: center;
    z-index: 2;
}

.footer p,
a {
    color: #ffffff
}

.colorNav:hover {
    color: var(--secondary-light) !important;
}




/* Minh */
.logoimg img {
    display: inline-block;
    padding-bottom: 2px;
    width: 60px;
    height: 40px;
}

#header {
    height: 64px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 997;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#nav>li>a {
    color: #e24943;
}

#nav li a {
    color: #e24943;
    text-decoration: none;
    line-height: 64px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #e24943;
}


#nav .subnav li:hover a {
    color: white;
    background-color: #df322b;
}


#nav>li:hover>a {
    color: white;
    background-color: #df322b;
}

@media screen and (min-width: 576px) {

    .card {
        text-align: left;
    }

    .hw-file {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {}


/* INDEX */
.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/login_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1,
.masthead .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }

    .masthead h1,
    .masthead .h1 {
        font-size: 5.5rem;
    }
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}


.px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.content-section-heading h2,
.content-section-heading .h2 {
    font-size: 3rem;
}

.content-section-heading h3,
.content-section-heading .h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

.text-center {
    text-align: center !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.btn-primary {
    color: #fff;
    background-color: #e24943;
    border-color: #e24943;
}

.btn-primary:hover {
    color: #fff;
    background-color: #df322b;
    border-color: #df322b;
}

.btn-xl {
    padding: 1.25rem 2.5rem;
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.gx-4 {
    --bs-gutter-x: 1.5rem;
}

.gx-lg-5 {
    --bs-gutter-x: 3rem;
}

.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.mb-lg-0 {
    margin-bottom: 0 !important;
}

.service-icon {
    background-color: #14375f;
    color: white;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.rounded-circle {
    border-radius: 50% !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.blueText {
    color: #14375f;
}

.text-faded {
    color: #14375f;
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}

/* END INDEX CSS */

/* BOXCHAT CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, var(--grey) 31px, transparent 1px) 50%, linear-gradient(180deg, var(--grey) 31px, var(--blue) 1px) 50%;
    background-size: 32px 32px;
    color: var(--dark);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* GLOBAL STYLES */
:root {
    --blue: #335DFF;
    --grey: #F5F5F5;
    --grey-d-1: #EEE;
    --grey-d-2: #DDD;
    --grey-d-3: #888;
    --white: #FFF;
    --dark: #222;
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

/* GLOBAL STYLES */


/* 
PRODUCT CARD */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/* *
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-card {
    width: 200px;
    position: relative;
    box-shadow: 0 2px 7px gray;
    margin: 50px auto;
    background: #fafafa;
    display: inline-block;
    margin: 5px;
}


.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 50px;
    background: #f0f0f0;
    background-image: url("../img/portfolio-2.jpg");
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}



.product-details h6 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
}

.product-details h6 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}


.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}


/* SEARCHBOX */
.input {
    border: 0;
    outline: none;
    color: #8b7d77;
    background-color: #E8E8E8;
}

.search_wrap {
    width: 200px;
    margin: 38px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 200px;
    height: 60px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 18px;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #e24943;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #e24943;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
}

.search_wrap.search_wrap_1 .search_box .btn {
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search_wrap.search_wrap_1 .search_box .input {
    padding-right: 80px;
}

/* SEARCHPAGE */
.boxbox {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    width: 90%;
    height: auto;
    /* Center horizontally*/
    margin: 15px;
    background-color: white;

}

.boxbox-top {

    border-top: 5px solid #e24943;
    padding: 45px;
    width: 90%;
    height: 200px;
    /* Center horizontally*/
    margin: 15px;
    background-color: white;

}

.boxbox-top p {
    color: #495057;
    font-size: 50px;
    font-family: 'Lato';

}

.boxbox-result {
    padding: 10px;
    font-size: 26px;
    color: black;
}

/* chat */
#chat-page{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/login_bg.jpg");
  background-size: auto;
  font-family: Helvetica, sans-serif;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
  }
  
  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }
  