:root {
    --primary: #14375f;
    --primary-light: #6c8299;
    --secondary: #df322b;
    --secondary-light: #e24943;
}

/* Color */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.btn-danger {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.text-danger {
    color: var(--secondary);
}


/* Login, register */
.login-form {
    max-width: 75%;
    margin: 0 auto;
}

.login-bg {
    background-image: url("../img/login_bg.jpg");
    background-size: cover;
}

.login-form-link {
    max-width: 50%;
    padding: 10px;
    margin: 0 auto;
    color: var(--primary);
    background-color: var(--secondary-light);
}

.class-cover {
    max-height: 25vh;
}

.card {
    text-align: center;
    max-width: 75%;
    margin: 10px auto;
    border: 2px solid var(--primary-light);
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 10px;
}

.hw-file {
    margin-bottom: 5px;
}

.class-nav-item {
    float: right;
    text-align: right;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.class-nav-item:hover {
    color: var(--secondary-light);
    cursor: pointer;
}


/* Navbar */
.colorNav {
    color: #ffffff !important;
}

nav {
    background: var(--primary);
    padding: 15px;

}

.nav {
    background-color: black;
}

.navbar-brand {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: hotpink;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: var(--primary);
    color: #000000;
    text-align: center;
}

.footer a {
    color: #712421;
    text-align: center;
}

.footer a:hover {
    text-decoration: none;
    color: #000000;

}


/* Minh */
.logoimg img {
    display: inline-block;
    padding-bottom: 2px;
    width: 60px;
    height: 40px;
}

#header {
    height: 64px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 997;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#nav>li>a {
    color: #e24943;
}

#nav li a {
    color: #e24943;
    text-decoration: none;
    line-height: 64px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #e24943;
}


#nav .subnav li:hover a {
    color: white;
    background-color: #df322b;
}


#nav>li:hover>a {
    color: white;
    background-color: #df322b;
}

@media screen and (min-width: 576px) {

    .card {
        text-align: left;
    }

    .hw-file {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {}