:root {
    --primary: #14375f;
    --primary-light: #6c8299;
    --secondary: #df322b;
    --secondary-light: #e24943;
}

.login-form {
    max-width: 75%;
    margin: 0 auto;
}

.login-bg {
    background-image: url("../image/login_bg.jpg");
    background-size: cover;
}

.login-form-link {
    max-width: 50%;
    padding: 10px;
    margin: 0 auto;
    color: var(--primary);
    background-color: var(--secondary-light);
}

.class-cover {
    max-height: 25vh;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.btn-danger {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.text-danger {
    color: var(--secondary);
}

.card {
    text-align: center;
    max-width: 75%;
    margin: 10px auto;
    border: 2px solid var(--primary-light);
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 10px;
}

.hw-file {
    margin-bottom: 5px;
}

.class-nav-item {
    float: right;
    text-align: right;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.class-nav-item:hover {
    color: var(--secondary-light);
    cursor: pointer;
}

@media screen and (min-width: 576px) {

    .card {
        text-align: left;
    }

    .hw-file {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {


}
