:root {
	--primary: #14375f;
	--light-blue: #6c8299;
	--white: #ffffff;
	--light-red:  #e24943;
	--red: #df322b;
}

body{
	font-family: sans-serif;

}
.colorNav{
	color: #ffffff !important;
}
nav{
	background: var(--primary);
	padding: 15px;

}



.nav {
	background-color: black;
}
.navbar-brand{
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	color: hotpink ;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px;
  background-color: var(--primary);
  color: #000000;
  text-align: center;
}
.footer a{
	color: #712421;
	text-align: center;
}
.footer a:hover{
	text-decoration: none;
	color: #000000;

}




