    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-light">
      <div class="container">
      <a href="#" class="navbar-brand mb-0 h1 colorNav">STUDENTS MANAGEMENT</a>
      <button 
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      > <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#" class="nav-link colorNav">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link colorNav">Homework List</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link colorNav">Send message</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link colorNav">Profile</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link colorNav">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

<!-- <th:block th:switch="${session.account}">
  <th:block th:case="null">
    <li class="nav-item">
      <a th:href="@{/login}" class="nav-link colorNav">Login</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/register}" class="nav-link colorNav">Register</a>
    </li>
  </th:block>
  <th:block th:case="*">
    <li class="nav-item">
      <a th:href="@{/class}" class="nav-link colorNav">Classrooms</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/profile}" class="nav-link colorNav">Profile</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/logout}" class="nav-link colorNav">Logout</a>
    </li>
  </th:block>
</th:block> -->