<div th:fragment="header">
  <div>
    <img class="img-fluid rounded-circle d-inline-block" th:src="@{${homework.author.avatarURL}}" alt="teacher avatar"
      width="40px">
    <span th:text="${homework.author.fullName}"></span>
    <span class="text-muted m-0" th:text="${homework.createdAt}"></span>
  </div>
  <p class="text-muted m-0" th:text="'Deadline: ' + (${homework.deadline} ?: 'No deadline')
    + (${homework.maxMark} ? | (${homework.maxMark} point(s))| : '')">
  </p>
  <h3 th:text="${homework.title}"></h3>
  <p th:text="${homework.description}"></p>
  <p th:if="${homework.filePath}">
    Attatchment:
    <a th:href="|./homework/${homework.id}/download|" th:text="${homework.fileName}"></a>
  </p>
</div>

<div th:fragment="footer">
  <table class="comment-list">
    <th:block th:each="comment: ${comments}">
      <tr>
        <td rowspan="2">avt</td>
        <td th:text="${comment.author.fullName}" style="font-weight: bold">name</td>
      </tr>
      <tr>
        <td th:text="${comment.content}">comment</td>
      </tr>
    </th:block>
  </table>
  <br>
  <form th:action="|./homework/${homework.id}/comment?page=${page}|" method="post">
    <div class="comment">
      <input class="input-comment" type="text" name="comment" id="comment" placeholder="Add a comment...">
      <Button id="sendButton" style="border: none"><i class='bx bxs-send bx-md'></i></Button>
    </div>
  </form>
</div>

<div class="card" th:fragment="not-submitted">
  <div th:replace=":: header"></div>
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <h5 class="text-danger">Status: Not submitted</h5>
    </div>
    <div class="col-12 col-lg-6">
      <form class="input-group" th:action="|./homework/${homework.id}/submission/create?page=${page}|" method="post"
        enctype="multipart/form-data">
        <input class="form-control" type="file" name="file">
        <button class="btn btn-primary" name="submit">Submit</button>
      </form>
    </div>
  </div>
  <div th:replace=":: footer"></div>
</div>

<div class="card" th:fragment="submitted">
  <div th:replace=":: header"></div>
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <h5 th:class="${submission.late} ? 'text-warning' : ''">
        Status: Submitted at
        <span th:text="${submission.createdAt}"></span>
        <a th:href="|./homework/${homework.id}/submission/${submission.id}/download|"
          th:text="${submission.fileName}"></a>
      </h5>
      <h5 th:if="${submission.mark}" th:text="|Mark: ${submission.mark}|"></h5>
    </div>
    <div class="col-12 col-lg-6">
      <form class="input-group" th:action="|./homework/${homework.id}/submission/create?page=${page}|" method="post"
        enctype="multipart/form-data">
        <input class="form-control" type="file" name="file">
        <button class="btn btn-secondary" name="submit">Submit</button>
      </form>
    </div>
  </div>
  <div th:replace=":: footer"></div>
</div>

<div class="card" th:fragment="teacher">
  <div th:replace=":: header"></div>
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <h5 th:text="|Status: ${homework.submissions.size}/${studentCount} submitted|"></h5>
    </div>
    <div class="col-12 col-lg-6">
      <div class="input-group row" style="margin: 0 auto;">
        <a class="btn btn-primary col-4" th:href="|./homework/${homework.id}/submission|">View</a>
        <a class="btn btn-secondary col-4" th:href="|./homework/${homework.id}/edit?page=${page}|">Edit</a>
        <a class="btn btn-danger col-4" th:href="|./homework/${homework.id}/delete?page=${page}|">Delete</a>
      </div>
    </div>
  </div>
  <div th:replace=":: footer"></div>
</div>