<div class="card" th:fragment="card-not-submitted">
  <div>
    <img class="img-fluid rounded-circle" src="../static/image/white_avt.jpg" alt="class member avatar" width="40px">
    <span>${username}</span>
  </div>
  <p class="text-muted m-0">${time}</p>
  <h3>${title}</h3>
  <p>${content} Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi excepturi quod. Voluptatem possimus
    iure culpa, fugit libero voluptate natus quo voluptas quae corporis iusto rem alias molestiae adipisci ad?</p>
  <form class="row align-items-center" action="./homework/submit/${homeworkID}" method="post">
    <h6 class="col-lg-6 text-danger">Status: Not submitted</h6>
    <div class="col-sm-9 col-lg-4">
      <input class="form-control hw-file" type="file" name="">
    </div>
    <div class="col-sm-3 col-lg-2">
      <button class="btn btn-primary" name="submit">Submit</button>
    </div>
  </form>
</div>

<div class="card" th:fragment="card-submitted">
  <div>
    <img class="img-fluid rounded-circle" src="../static/image/white_avt.jpg" alt="class member avatar" width="40px">
    <span>${username}</span>
  </div>
  <p class="text-muted m-0">${time}</p>
  <h3>${title}</h3>
  <p>${content} Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi excepturi quod. Voluptatem possimus
    iure culpa, fugit libero voluptate natus quo voluptas quae corporis iusto rem alias molestiae adipisci ad?</p>
  <form class="row align-items-center" action="./homework/submit/${homeworkID}" method="post">
    <h6 class="col-lg-6">Status: Submitted<br>Mark: 10</h6>
    <div class="col-sm-9 col-lg-4">
      <input class="form-control hw-file" type="file" name="">
    </div>
    <div class="col-sm-3 col-lg-2">
      <button class="btn btn-secondary" name="submit">Submit</button>
    </div>
  </form>
</div>

<div class="card" th:fragment="card-teacher">
  <div>
    <img class="img-fluid rounded-circle" src="../static/image/white_avt.jpg" alt="class member avatar" width="40px">
    <span>${username}</span>
  </div>
  <p class="text-muted m-0">${time}</p>
  <h3>${title}</h3>
  <p>${content} Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi excepturi quod. Voluptatem possimus
    iure culpa, fugit libero voluptate natus quo voluptas quae corporis iusto rem alias molestiae adipisci ad?</p>
  <form class="row align-items-center" action="./homework/submit/${homeworkID}" method="post">
    <h6 class="col-lg-6">Status: 15/12 submitted</h6>
    <div class="col-4 col-lg-2">
      <a class="btn btn-primary" href="./homework/view/${homeworkID}">View</a>
    </div>
    <div class="col-4 col-lg-2">
      <a class="btn btn-secondary" href="./homework/edit/${homeworkID}">Edit</a>
    </div>
    <div class="col-4 col-lg-2">
      <a class="btn btn-danger" href="./homework/delete/${homeworkID}">Delete</a>
    </div>
  </form>
</div>