<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit homework</title>
  <th:block th:insert="components/head"></th:block>
</head>

<body id="page-top">
  <header th:insert="components/header"></header>

  <div class="container rounded bg-white mt-5 mb-5">
    <th:block th:insert="components/classCover"></th:block>
    <h1>Edit homework</h1>
    <th:block th:with="action=|./edit?page=${page}|" th:insert="components/homeworkForm"></th:block>
  </div>

  <footer th:insert="components/footer"></footer>
  <div th:insert="components/script"></div>
</body>

</html>