<!DOCTYPE html>
<html lang="en">

<head>
  <title th:text="${session.classroom.name}"></title>
  <th:block th:insert="components/head"></th:block>
</head>

<body>
  <header th:insert="components/header"></header>

  <div class="container mt-5 mb-5">

    <th:block th:insert="components/classCover"></th:block>

    <th:block th:each="hsPair: ${homeworks}" th:with="homework=${hsPair.key}, submission=${hsPair.value}">
      <th:block th:if="${session.isTeacher == true}" th:insert="components/homeworkCard :: teacher"></th:block>
      <th:block th:if="${session.isStudent == true && submission != null}" th:insert="components/homeworkCard :: submitted"></th:block>
      <th:block th:if="${session.isStudent == true && submission == null}" th:insert="components/homeworkCard :: not-submitted"></th:block>
    </th:block>
  </div>

  <div th:insert="components/hiddenError"></div>

  <footer th:insert="components/footer"></footer>
  <div th:insert="components/script"></div>
</body>

</html>