<!DOCTYPE html>
<html lang="en">

<head>
  <th:block th:insert="components/head"></th:block>
</head>

<body id="page-top">
  <header th:insert="components/header"></header>

  <!-- Content-->
  <div class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
      <h1 class="mb-1" style="color: white;">FBT EDUCATION</h1>
      <h3 class="mb-5" style="color: white;"><em>Student management system</em></h3>
      <a class="btn btn-primary btn-xl" href="#about">Learn more</a>
    </div>
  </div>
  <!-- Services-->
  <section class="content-section Fwel text-white text-center" id="about">
    <div class="container px-4 px-lg-5">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5" style="color: #14375f;">What We Offer</h2>
      </div>
      <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
          <h4 class="blueText"><strong>something</strong></h4>
          <p class="text-faded mb-0">something something something</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
          <h4 class="blueText"><strong>something</strong></h4>
          <p class="text-faded mb-0">something something something</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
          <h4 class="blueText"><strong>something</strong></h4>
          <p class="text-faded mb-0">
            something something something
            <i class="fas fa-heart"></i>
            something something
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
          <h4 class="blueText"><strong>something</strong></h4>
          <p class="text-faded mb-0">something something something</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

  <footer th:insert="components/footer"></footer>
  <div th:insert="components/script"></div>
</body>

</html>