<!DOCTYPE html>
<html>

<head>
  <title th:text="${session.user.username + '''s profile'}">Edit profile</title>
  <th:block th:insert="components/head"></th:block>
</head>

<body>
  <header th:insert="components/header"></header>

  <!-- Profile -->
  <header class="masthead d-flex align-items-center" style="margin-top: 60px;">
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
              width="150px" th:src="${../static/img/hehe.jpg}"><span class="font-weight-bold">(Name takre from
              DB)</span><span class="text-black-50">(mail@fpt.vn take from DB)</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6"><label class="labels">First Name</label>
                <div style="color: #e24943;">NAme</div>
              </div>
              <div class="col-md-6"><label class="labels">Last Name</label>
                <div style="color: #e24943;">lát name</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">Phone Number</label>
                <div style="color: #e24943;">(Phone num take from DB)</div>
              </div>
              <div class="col-md-12"><label class="labels">Email</label>
                <div style="color: #e24943;">(Email take from DB)</div>
              </div>
              <div class="col-md-12"><label class="labels">FPT Email</label>
                <div style="color: #e24943;">(FPR Email take from DB)</div>
              </div>
              <div class="col-md-12"><label class="labels">Address</label>
                <div style="color: #e24943;">(Address take from DB)</div>
              </div>
              <div class="col-md-12"><label class="labels">Date of Birth</label>
                <div style="color: #e24943;">(Phone num take from DB)</div>
              </div>
            </div>
            <div class="mt-5 text-center"><input class="btn btn-primary profile-button" type="submit"
                value="Save Profile"></div>
          </div>
        </div>

      </div>
    </div>
    </div>
    </div>
  </header>




  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

  <footer th:insert="components/footer"></footer>
  <div th:insert="components/script"></div>
</body>

</html>