<!DOCTYPE html>
<html lang="en">

<head>
  <title th:text="|${account.fullName}'s Profile|"></title>
  <th:block th:insert="components/head"></th:block>
  <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>

<body>
  <header th:insert="components/header"></header>

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right nav-pro">
        <div class="d-flex flex-column align-items-center text-center my-2">
          <img class="rounded-circle mt-5" width="150px" th:src="@{${account.avatarURL}}">
          <span class="main-profile mt-3" th:text="${account.username}"></span>
          <span class="main-profile" th:text="${account.fullName}"></span>
          <span class="main-profile" th:text="${account.email}"></span>
        </div>
        <div class="col-md-12 option-edit-nav mt-3">
          <div><p class="option-edit active">Profile</p></div>
          <div><p class="option-edit">Change Password</p></div>
        </div>
      </div>
      <div th:replace="components/profileForm :: information"></div>
      <div th:replace="components/profileForm :: password"></div>
    </div>
  </div>

  <footer th:insert="components/footer"></footer>
  <div th:insert="components/script"></div>
  <script type="text/javascript" th:src="@{/js/profile.js}"></script>
</body>

</html>